@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Cantarell:wght@400;700&family=Catamaran:wght@300&family=Titan+One&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}
$inputColor: rgb(111, 183, 255);
$textColor: white;
$bodyBackground: rgb(95, 215, 255);
$background: rgba(13, 5, 104, 0.915);
$welcomeColor: rgba(255, 177, 32, 0.976);
$box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
