$inputColor: rgb(111, 183, 255);
$textColor: white;
$bodyBackground: rgb(95, 215, 255);
$background: rgba(13, 5, 104, 0.915);
$welcomeColor: rgba(255, 177, 32, 0.976);
$box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
