@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Cantarell:wght@400;700&family=Catamaran:wght@300&family=Titan+One&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: 'Catamaran', sans-serif;
}

body {
  background-image: url(/image/istockphoto-1203327078-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .containerDiv {
  -webkit-transition: 10cs;
  transition: 10cs;
  width: 900px;
  height: 630px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(207, 255, 251, 0.091);
          box-shadow: 2px 2px 1px 1px rgba(207, 255, 251, 0.091);
}

body .containerDiv .formControl {
  width: 40%;
  height: inherit;
  background: #5fd7ff;
}

body .containerDiv .formControl .signin {
  margin: 290px auto auto 60px;
}

body .containerDiv .formControl .signin button {
  width: 250px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 30px;
  background: white;
  cursor: pointer;
}

body .containerDiv .formControl .signin button a {
  text-decoration: none;
  color: #5fd7ff;
  font-weight: 600;
}

body .containerDiv .formControl .signin h1 {
  font-size: 30px;
}

body .containerDiv .formClick {
  width: 60%;
  height: inherit;
  background: white;
}

body .containerDiv form {
  margin: 150px auto auto 100px;
}

body .containerDiv form h1 {
  font-size: 30px;
}

body .containerDiv form .inputs {
  width: 200px;
  height: 100px;
  position: relative;
  top: 10px;
}

body .containerDiv form .inputs .inputForm {
  padding-left: 10px;
  width: 350px;
  height: 30px;
  margin-top: 20px;
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
}

body .containerDiv form .inputs .inputForm:focus {
  border: 1px solid #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .containerDiv form .inputs .formLabel {
  position: absolute;
  left: 10px;
  top: 24px;
}

body .containerDiv form .inputs .label {
  top: 77px;
}

body .containerDiv form .inputs .inputForm.active .formLabel,
body .containerDiv form .inputs .inputForm:focus + .formLabel,
body .containerDiv form .inputs .inputForm:not([value=""]) + .formLabel,
body .containerDiv form .inputs .inputForm.active + .label {
  background: white;
  height: 20px;
  width: 130px;
  top: 4px;
  color: #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .containerDiv form .inputs .inputForm.active .label,
body .containerDiv form .inputs .inputForm:focus + .label,
body .containerDiv form .inputs .inputForm:not([value=""]) + .label,
body .containerDiv form .inputs .inputForm.active + .label {
  background: white;
  height: 20px;
  width: 70px;
  top: 60px;
  color: #5fd7ff;
}

body .containerDiv form .icon {
  height: 10px;
  left: 360px;
  top: 300px;
  left: 66.5rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

body .containerDiv form .eyeClosed {
  position: absolute;
  top: 0px;
  left: -1px;
  background: white;
}

body .containerDiv form .bottomButton {
  width: 360px;
  height: 15px;
  margin-top: 30px;
}

body .containerDiv form .bottomButton a {
  text-decoration: none;
  color: #5fd7ff;
}

body .containerDiv form .bottomButton button {
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  background: white;
}

body .containerDiv form .bottomButton .button {
  margin-left: 180px;
}

body .containerDiv form .login {
  width: 360px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 30px;
  border-radius: 30px;
  background: #6fb7ff;
  cursor: pointer;
}

body .containerDiv form .login a {
  text-decoration: none;
  color: white;
}

body .containerDiv form .signinOptions {
  width: 20%;
  height: 30px;
  margin: 20px auto auto 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .containerDiv form .signinOptions .signinIcon {
  width: 30px;
  height: inherit;
  background-image: url(/image/images.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body .containerDiv form .signinOptions .signIcon {
  width: 30px;
  height: inherit;
  background-image: url(/image/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  background-image: url(/image/istockphoto-1203327078-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .container {
  -webkit-transition: 10s;
  transition: 10s;
  width: 900px;
  height: 630px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 2px 2px 1px 1px rgba(207, 255, 251, 0.091);
          box-shadow: 2px 2px 1px 1px rgba(207, 255, 251, 0.091);
}

body .container .formClick {
  width: 60%;
  height: inherit;
  background: white;
}

body .container .formClick .form {
  margin: 80px auto auto 0px;
  text-align: center;
}

body .container .formClick .form h1 {
  font-size: 30px;
}

body .container .formClick .form .firstLast {
  position: relative;
}

body .container .formClick .form .firstLast .inputForm {
  width: 167px;
  height: 30px;
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
}

body .container .formClick .form .firstLast .inputForm:focus {
  border: 1px solid #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .firstLast .labelForm {
  position: absolute;
  left: 7rem;
  top: 23px;
}

body .container .formClick .form .firstLast .formText {
  left: 18rem;
}

body .container .formClick .form .firstLast .inputForm.active .labelForm,
body .container .formClick .form .firstLast .inputForm:focus + .labelForm,
body .container .formClick .form .firstLast .inputForm:not([value=""]) + .labelForm,
body .container .formClick .form .firstLast .inputForm.active + .label {
  width: 130px;
  top: 5px;
  background: white;
  height: 20px;
  color: #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .username {
  position: relative;
}

body .container .formClick .form .username .labelForm {
  position: absolute;
  left: 7rem;
  top: 23px;
}

body .container .formClick .form .username .inputForm {
  width: 350px;
  height: 30px;
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
}

body .container .formClick .form .username .inputForm:focus {
  border: 1px solid #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .username .inputForm.active .labelForm,
body .container .formClick .form .username .inputForm:focus + .labelForm,
body .container .formClick .form .username .inputForm:not([value=""]) + .labelForm,
body .container .formClick .form .username .inputForm.active + .label {
  width: 90px;
  top: 5px;
  background: white;
  height: 20px;
  color: #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .inputsLayout {
  width: 200px;
  height: 70px;
  position: relative;
  top: 10px;
  left: 90px;
}

body .container .formClick .form .inputsLayout .inputForm {
  width: 350px;
  height: 30px;
  margin-top: 20px;
  padding-left: 10px;
  outline: none;
  border: 1px solid gray;
  border-radius: 8px;
  font-size: 14px;
}

body .container .formClick .form .inputsLayout .inputForm:focus {
  border: 1px solid #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .inputsLayout .formLabel {
  position: absolute;
  left: 23px;
  top: 23px;
}

body .container .formClick .form .inputsLayout .label {
  top: 77px;
}

body .container .formClick .form .inputsLayout .inputForm.active .formLabel,
body .container .formClick .form .inputsLayout .inputForm:focus + .formLabel,
body .container .formClick .form .inputsLayout .inputForm:not([value=""]) + .formLabel,
body .container .formClick .form .inputsLayout .inputForm.active + .label {
  width: 60px;
  left: 10px;
  top: 5px;
  background: white;
  height: 20px;
  color: #5fd7ff;
  -webkit-transition: 1s;
  transition: 1s;
}

body .container .formClick .form .icon {
  height: 10px;
  top: 400px;
  left: 21rem;
  cursor: pointer;
  position: absolute;
  z-index: 2;
}

body .container .formClick .form .eyeClosed {
  position: absolute;
  top: 0px;
  left: -1px;
  background: white;
}

body .container .formClick .form .termsCondition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  margin-top: 30px;
}

body .container .formClick .form .termsCondition input {
  margin-left: 7rem;
  cursor: pointer;
}

body .container .formClick .form .termsCondition .paragraph {
  font-weight: 600;
  margin-left: 5px;
  margin-top: 3px;
}

body .container .formClick .form .termsCondition .paragraph a {
  text-decoration: none;
  color: blue;
  margin-left: 5px;
}

body .container .formClick .form .login {
  width: 360px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  font-size: 15px;
  font-weight: 700;
  margin-top: 20px;
  border-radius: 30px;
  background: #6fb7ff;
  cursor: pointer;
}

body .container .formClick .form .login a {
  text-decoration: none;
  color: white;
}

body .container .formClick .signinOption {
  width: 20%;
  height: 30px;
  margin: 10px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container .formClick .signinOption .signinIcon {
  width: 30px;
  height: inherit;
  background-image: url(/image/images.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body .container .formClick .signinOption .signIcon {
  width: 30px;
  height: inherit;
  background-image: url(/image/facebook.png);
  background-repeat: no-repeat;
  background-size: cover;
}

body .container .formControl {
  width: 40%;
  height: inherit;
  background: #5fd7ff;
}

body .container .formControl .signin {
  margin: 250px auto auto 60px;
}

body .container .formControl .signin button {
  width: 250px;
  height: 40px;
  border: 1px solid black;
  outline: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 10px;
  border-radius: 30px;
  background: white;
  cursor: pointer;
}

body .container .formControl .signin button a {
  text-decoration: none;
  color: #5fd7ff;
  font-weight: 600;
}

body .container .formControl .signin h1 {
  font-size: 30px;
}

main .context {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90vw;
  height: 95vh;
  background: white;
  margin: 10px auto;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
}

main .context .iconsRepresentation {
  width: 15%;
  height: inherit;
  background: rgba(13, 5, 104, 0.915);
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  text-align: center;
}

main .context .iconsRepresentation h2 {
  margin-top: 10px;
  color: white;
}

main .context .iconsRepresentation .dashboardItems {
  width: 170px;
  height: 75vh;
  margin-top: 30px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .context .iconsRepresentation .dashboardItems .icons {
  width: 30px;
  height: inherit;
  margin-left: 30px;
}

main .context .iconsRepresentation .dashboardItems .icons i {
  font-size: 20px;
  margin-top: 20px;
  color: #e6e6e6;
}

main .context .iconsRepresentation .dashboardItems .icons .fa-chess-king {
  margin-top: 20px;
}

main .context .iconsRepresentation .dashboardItems .icons .fa-database {
  margin-top: 30px;
}

main .context .iconsRepresentation .dashboardItems .icons .fa-address-book {
  margin-top: 30px;
}

main .context .iconsRepresentation .dashboardItems .icons .fa-gear {
  margin-top: 115px;
}

main .context .iconsRepresentation .dashboardItems .contents {
  width: 140px;
  height: inherit;
}

main .context .iconsRepresentation .dashboardItems .contents ul li {
  text-align: justify;
  margin-left: 10px;
  margin-top: 18px;
  list-style: none;
  font-size: 19px;
}

main .context .iconsRepresentation .dashboardItems .contents ul li:hover {
  background: white;
}

main .context .iconsRepresentation .dashboardItems .contents ul li a {
  text-decoration: none;
  color: rgba(243, 243, 243, 0.848);
}

main .context .iconsRepresentation .dashboardItems .contents .setting {
  margin-top: 7rem;
}

main .context .iconsRepresentation .profile {
  width: 90%;
  height: 8vh;
  border-top: 1px solid gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .iconsRepresentation .profile .personalProfile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(/image/profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
}

main .context .iconsRepresentation .profile .profileInfo {
  margin-top: 0px;
}

main .context .navigation {
  width: 85%;
  height: inherit;
}

main .context .navigation header {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation header .logoHead {
  width: 70px;
  height: inherit;
  background-image: url(/image/UserLogo1.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 30px;
}

main .context .navigation header .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  position: relative;
}

main .context .navigation header .tools input {
  width: 250px;
  padding-left: 40px;
  padding-right: 10px;
  height: 35px;
  margin-top: 8px;
  border: 1px solid gray;
  outline: none;
  border-radius: 20px;
  font-size: 17px;
}

main .context .navigation header .tools input:focus {
  background: rgba(232, 232, 232, 0.689);
  -webkit-transition: 5s;
  transition: 5s;
  border: 1px solid #5fd7ff;
}

main .context .navigation header .tools .fa-magnifying-glass {
  position: absolute;
  top: 0px;
  left: -15px;
}

main .context .navigation header .tools i {
  font-size: 20px;
  margin-left: 30px;
  margin-top: 15px;
  cursor: pointer;
}

main .context .navigation header .tools .personalProfile {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  background-image: url(/image/profile.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 5px;
  margin-left: 30px;
}

main .context .navigation header .tools .fa-caret-down:hover {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  margin-top: 50px;
}

main .context .navigation .dualDivs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 84vh;
}

main .context .navigation .dualDivs .leftNavigate {
  width: 60%;
  height: inherit;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile {
  width: 90%;
  height: 130px;
  background: white;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .welcome {
  width: 250px;
  height: inherit;
  background: transparent;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .welcome h5 {
  font-size: 30px;
  font-weight: 100;
  margin-top: 30px;
  margin-left: 30px;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .welcome .paragraph {
  font-size: 20px;
  font-weight: 100;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .picture {
  width: 150px;
  height: inherit;
  background-image: url(/image/Laptop-PNG-File-removebg-preview.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 8px;
  border-top-right-radius: 8px;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .notes {
  width: 200px;
  height: inherit;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .notes .signs {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .notes .signs .signOne {
  width: inherit;
  height: inherit;
  background-image: url(/image/STATcompiler-Slide.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .context .navigation .dualDivs .leftNavigate .welcomeProfile .notes .signs .two {
  margin-top: 30px;
}

main .context .navigation .dualDivs .leftNavigate .events {
  width: 90%;
  height: 110px;
  background: transparent;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .context .navigation .dualDivs .leftNavigate .events .box {
  margin-left: 5px;
  margin-top: -8px;
}

main .context .navigation .dualDivs .leftNavigate .events .box .eventBox {
  position: relative;
  margin-top: 10px;
  width: 180px;
  height: 50px;
  border-radius: 8px;
  color: rgba(13, 5, 104, 0.915);
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  cursor: pointer;
  background: white;
}

main .context .navigation .dualDivs .leftNavigate .events .box .eventBox:hover {
  background: rgba(13, 5, 104, 0.915);
  color: white;
}

main .context .navigation .dualDivs .leftNavigate .events .box .eventBox h1 {
  position: absolute;
  font-size: 40px;
  top: -17px;
  left: 15px;
}

main .context .navigation .dualDivs .leftNavigate .events .box .eventBox span {
  position: absolute;
  left: 50px;
  font-size: 20px;
}

main .context .navigation .dualDivs .leftNavigate .events .box .eventBox p {
  position: absolute;
  top: 25px;
  left: 20px;
}

main .context .navigation .dualDivs .leftNavigate p {
  margin-left: 30px;
  font-weight: 600;
  font-size: 17px;
  height: 20px;
}

main .context .navigation .dualDivs .leftNavigate .tools {
  width: 90%;
  height: 255px;
  background: transform;
  margin-left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool, main .context .navigation .dualDivs .leftNavigate .tools .converterTool {
  width: 260px;
  height: 100%;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  background: white;
  border-radius: 8px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens {
  margin: 10px auto auto 25px;
  width: 150px;
  height: 60px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .operationScreen, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .operationScreen {
  width: 200px;
  height: 25px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .operationScreen .operationInput, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .operationScreen .operationInput {
  border: none;
  width: 200px;
  outline: none;
  background: rgba(176, 176, 176, 0.579);
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen {
  width: 200px;
  height: 25px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen .answerInput, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen .answerInput {
  position: absolute;
  border: none;
  width: 200px;
  outline: none;
  background: rgba(176, 176, 176, 0.579);
  padding-left: 10px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen ::-webkit-input-placeholder, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen ::-webkit-input-placeholder {
  font-size: 20px;
  color: black;
  padding-left: 170px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen :-ms-input-placeholder, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen :-ms-input-placeholder {
  font-size: 20px;
  color: black;
  padding-left: 170px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen ::-ms-input-placeholder, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen ::-ms-input-placeholder {
  font-size: 20px;
  color: black;
  padding-left: 170px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .screens .answerScreen ::placeholder, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .screens .answerScreen ::placeholder {
  font-size: 20px;
  color: black;
  padding-left: 170px;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons {
  margin: 10px auto auto 25px;
  width: 210px;
  height: 60%;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .firstButtons, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .firstButtons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .firstButtons button, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .firstButtons button {
  width: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: none;
  background: #0d0d4e;
  color: white;
  cursor: pointer;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .firstButtons button:hover, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .firstButtons button:hover {
  background: #0202a3;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .otherButtons, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .otherButtons {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .otherButtons button, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .otherButtons button {
  width: 40px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  border: none;
  background: #0d0d4e;
  color: white;
  cursor: pointer;
}

main .context .navigation .dualDivs .leftNavigate .tools .calculatorTool .digitButtons .otherButtons button:hover, main .context .navigation .dualDivs .leftNavigate .tools .converterTool .digitButtons .otherButtons button:hover {
  background: #0202a3;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .selectCurrency {
  position: relative;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .selectCurrency select {
  margin-top: 15px;
  width: 110px;
  height: 20px;
  border: 1px solid gray;
  outline: none;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .selectCurrency .arrow {
  margin-top: 12px;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .selectCurrency label {
  position: absolute;
  font-size: 13px;
  top: -2px;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .amount {
  position: relative;
  width: 100%;
  height: 25px;
  margin-top: 15px;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .amount input {
  width: 180px;
  height: 20px;
  margin-left: 30px;
  outline: none;
  padding-left: 10px;
  font-size: 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .labelName {
  position: absolute;
  font-size: 13px;
  top: -15px;
  left: 30px;
}

main .context .navigation .dualDivs .leftNavigate .tools .converterTool .submit {
  width: 190px;
  margin-left: 30px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: rgba(13, 5, 104, 0.915);
  font-size: 15px;
  font-weight: 600;
}

main .context .navigation .dualDivs .rightNavigate {
  width: 40%;
  height: inherit;
}

main .context .navigation .dualDivs .rightNavigate .wrapper {
  width: 100%;
  height: 260px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
}

main .context .navigation .dualDivs .rightNavigate .wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .currentDate {
  font-size: 1.45rem;
  margin-top: -70px;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

main .context .navigation .dualDivs .rightNavigate .wrapper header .icon span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background: lightgray;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .con span:last-child {
  margin-right: -10px;
}

main .context .navigation .dualDivs .rightNavigate .wrapper header .icon span:hover {
  background: whitesmoke;
}

main .context .navigation .dualDivs .rightNavigate .wrapper header .currentDate {
  font-size: 1.45rem;
  font-weight: 500;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar {
  padding: 10px;
  margin-top: -60px;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar .days {
  margin-bottom: 5px;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 5px;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li.inactive {
  color: brown;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li.active {
  color: white;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 20px;
  width: 20px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li.active::before {
  background: #f810f8;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li:not(.active):hover::before {
  background: gray;
}

main .context .navigation .dualDivs .rightNavigate .wrapper .days li :hover::before {
  background: #b5b2b2;
}

main .context .navigation .dualDivs .rightNavigate .paragraph {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .context .navigation .dualDivs .rightNavigate .paragraph p {
  font-weight: 600;
}

main .context .navigation .dualDivs .rightNavigate .paragraph .event {
  padding: 3px;
  border: none;
  color: white;
  background: rgba(13, 5, 104, 0.915);
  cursor: pointer;
  border-radius: 5px;
}

main .context .navigation .dualDivs .rightNavigate .weatherStatistics {
  width: 100%;
  height: 240px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  background-image: url(/image/weather.webp);
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContainer {
  background: transparent;
  width: 30%;
  height: 70vh;
  margin: 10px auto;
  position: relative;
}

.mainContainer .secondDiv {
  width: 410px;
  height: 600px;
  margin: auto;
  margin-top: 0px;
  background: rgba(0, 0, 108, 0.87);
  position: relative;
  -webkit-box-shadow: 1px 1px 2px 1px rgba(116, 116, 116, 0.464);
          box-shadow: 1px 1px 2px 1px rgba(116, 116, 116, 0.464);
}

.mainContainer .secondDiv .mainScreen {
  width: 75%;
  height: 100px;
  background: #019801;
  position: absolute;
  top: 30px;
  left: 50px;
  border-radius: 5px;
}

.mainContainer .secondDiv .mainScreen .operationSense {
  margin-top: 5px;
}

.mainContainer .secondDiv .mainScreen input {
  width: 95%;
  height: 45px;
  margin-left: 8px;
  border: none;
  outline: none;
  background: #019801;
}

.mainContainer .secondDiv .mainScreen ::-webkit-input-placeholder {
  color: black;
  font-size: 16px;
}

.mainContainer .secondDiv .mainScreen :-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.mainContainer .secondDiv .mainScreen ::-ms-input-placeholder {
  color: black;
  font-size: 16px;
}

.mainContainer .secondDiv .mainScreen ::placeholder {
  color: black;
  font-size: 16px;
}

.mainContainer .secondDiv .powerButton {
  width: 75%;
  height: 70px;
  background: transparent;
  position: absolute;
  top: 150px;
  left: 50px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mainContainer .secondDiv .powerButton button {
  width: 40px;
  height: 25px;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  background: #0a8fbb;
}

.mainContainer .secondDiv .powerButton button:hover {
  background: white;
  color: #0a8fbb;
}

.mainContainer .secondDiv .powerButton .replayBtn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.mainContainer .secondDiv .arithmeticScientific {
  width: 80%;
  height: 340px;
  background: transparent;
  position: absolute;
  top: 230px;
  left: 43px;
  border-radius: 5px;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien {
  width: 100%;
  height: 40px;
  margin-top: 10px;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien button {
  width: 50px;
  height: 25px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  font-size: 12px;
  cursor: pointer;
  -webkit-transition: 0.8s;
  transition: 0.8s;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-left: 14px;
  background: #0a8fbb;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien button:hover {
  background: white;
  color: #0a8fbb;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien .firstBtn {
  margin-left: 0px;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien #firstBtn, .mainContainer .secondDiv .arithmeticScientific .arithScien #firsBtn, .mainContainer .secondDiv .arithmeticScientific .arithScien #firBtn, .mainContainer .secondDiv .arithmeticScientific .arithScien #fitBtn {
  margin-left: 0px;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien .DEL, .mainContainer .secondDiv .arithmeticScientific .arithScien .AC, .mainContainer .secondDiv .arithmeticScientific .arithScien .Ans, .mainContainer .secondDiv .arithmeticScientific .arithScien .equal {
  background: yellow;
  color: black;
}

.mainContainer .secondDiv .arithmeticScientific .arithScien .DEL:hover, .mainContainer .secondDiv .arithmeticScientific .arithScien .AC:hover, .mainContainer .secondDiv .arithmeticScientific .arithScien .Ans:hover, .mainContainer .secondDiv .arithmeticScientific .arithScien .equal:hover {
  color: white;
  background: #0a8fbb;
}

.contentCalendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.contentCalendar .wrapper {
  width: 450px;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.422);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.422);
}

.contentCalendar .wrapper header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 30px 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contentCalendar .wrapper .currentDate {
  font-size: 1.45rem;
}

.contentCalendar .wrapper .calendar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.contentCalendar .wrapper header .icon span {
  height: 38px;
  width: 38px;
  margin: 0 1px;
  cursor: pointer;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
  background: lightgray;
  font-size: 1.9rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.contentCalendar .wrapper header .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentCalendar .wrapper .con span:last-child {
  margin-right: -10px;
}

.contentCalendar .wrapper header .icon span:hover {
  background: whitesmoke;
}

.contentCalendar .wrapper header .currentDate {
  font-size: 1.45rem;
  font-weight: 500;
}

.contentCalendar .wrapper .calendar {
  padding: 20px;
}

.contentCalendar .wrapper .calendar .days {
  margin-bottom: 20px;
}

.contentCalendar .wrapper .calendar li {
  color: #333;
  width: calc(100% / 7);
  font-size: 1.07rem;
}

.contentCalendar .wrapper .calendar .weeks li {
  font-weight: 500;
  cursor: default;
}

.contentCalendar .wrapper .calendar .days li {
  z-index: 1;
  cursor: pointer;
  position: relative;
  margin-top: 30px;
}

.contentCalendar .wrapper .days li.inactive {
  color: brown;
}

.contentCalendar .wrapper .days li.active {
  color: white;
}

.contentCalendar .wrapper .days li::before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  height: 40px;
  width: 40px;
  z-index: -1;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.contentCalendar .wrapper .days li.active::before {
  background: #f810f8;
}

.contentCalendar .wrapper .days li:not(.active):hover::before {
  background: gray;
}

.contentCalendar .wrapper .days li :hover::before {
  background: #b5b2b2;
}

footer {
  position: absolute;
  width: 42%;
  top: 37.5rem;
  left: 17rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer ul li {
  display: inline;
  list-style: none;
}

footer ul li a {
  text-decoration: none;
  margin-left: 10px;
  color: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  font-weight: 600;
}

footer .lightDark {
  position: relative;
  width: 80px;
  height: 20px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  border-radius: 30px;
}

footer .lightDark p {
  position: absolute;
  z-index: 4;
  width: 30px;
  height: 20px;
  border-radius: 40px;
  -webkit-box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
          box-shadow: 1px 3px 4px 1px rgba(0, 0, 0, 0.351);
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

footer .lightDark .fa-solid {
  position: absolute;
  color: white;
  top: 2px;
  font-size: 15px;
}

footer .lightDark .fa-moon {
  position: absolute;
  color: black;
  top: 2px;
  left: 60px;
  font-size: 15px;
}
/*# sourceMappingURL=style.css.map */