@import './setup';
@import './varaible';

@mixin widthHeight($width) {
    width: $width;
    height: inherit;
}

@mixin labelStyle ($top, $left) {
    position: absolute;
    left: $left;
    top: $top;
}

@mixin inputStyle {
    padding-left: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 14px;
}

@mixin focusStyle {
    border: 1px solid $bodyBackground;
    transition: 1s;
}

@mixin inputLable {
    background: white;
    height: 20px;
    color: $bodyBackground;
    transition: 1s;
}

@mixin headerStyle {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url(/image/profile.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 5px;
}

@mixin eventsStyle ($height, $background){
    width: 90%;
    height: $height;
    background: $background;
    margin-left: 30px;
}
@mixin inputStyle1 {
    width: 200px;
    height: 25px;
}
@mixin answeOperation {
    border: none;
    width: 200px;
    outline: none;
    background: rgba(176, 176, 176, 0.579);
    padding-left: 10px;                                
    
}

@mixin buttonStyle{
    width: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    outline: none;
    border: none;
    background: rgb(13, 13, 78);
    color: white;
}
@mixin powerStyle ($width, $height, $left, $top, $background) {
    width: $width;
    height: $height;
    background: $background;
    position: absolute;
    top: $top;
    left: $left;
    border-radius: 5px;
}

@mixin buttonStyle1 ($width, $margin-top){
    width: $width;
    height: 25px;
    margin-top: $margin-top;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    font-size: 12px;
    cursor: pointer;
    transition: 0.8s;
    border-top-right-radius: 0;
     border-top-left-radius: 0;
    &:hover{
        background: white;
        color: rgb(10, 143, 187);     
}
}   

@import './main';
@import './signup';
@import './dashboard';
@import './main1';
@import './calendar';  
@import './footer';  